/* Custom Properties */

:root {
  --clr-light: #fff;
  --clr-dark: #303030;
  --clr-accent: #16e0bd;

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;
}

@media (min-width: 800px) {
  :root {
    --fs-h1: 4.1rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
  }
}

body {
  background: url("images/sitebg_2.jpg") no-repeat center fixed;
  background-size: cover;
  box-sizing: border-box;
  color: var(--clr-dark);
  font-size: var(--fs-body);
  font-family: "Roberto", sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

a {
  text-decoration: none;
  color: #eee;
}

img {
  max-width: 100%;
}

h1,
h2,
h3 {
  line-height: 1;
  margin: 0;
}
h1 {
  font-size: var(--fs-h1);
  font-family: " Source Sans Pro ", sans-serif;
}
h2 {
  font-size: var(--fs-h2);
}
h3 {
  font-size: var(--fs-h3);
}

/* end Global */

/* Start Header */
/* Define the shape and color of the hamburger lines */
.navbar-toggler span {
  display: block;
  background-color: #4f4f4f;
  height: 3px;
  width: 25px;
  margin-top: 5px;
  margin-bottom: 5px;
  position: relative;
  left: 0;
  opacity: 1;
  transition: all 0.35s ease-out;
  transform-origin: center left;
}

/* top line needs a little padding */
.navbar-toggler span:nth-child(1) {
  margin-top: 0.3em;
}

/**
* Animate collapse into X.
*/

/* top line rotates 45 degrees clockwise and moves up and in a bit to close the center of the X in the center of the button */
.navbar-toggler:not(.collapsed) span:nth-child(1) {
  transform: translate(15%, -33%) rotate(45deg);
}
/* center line goes transparent */
.navbar-toggler:not(.collapsed) span:nth-child(2) {
  opacity: 0;
}
/* bottom line rotates 45 degrees counter clockwise, in, and down a bit to close the center of the X in the center of the button  */
.navbar-toggler:not(.collapsed) span:nth-child(3) {
  transform: translate(15%, 33%) rotate(-45deg);
}

/**
* Animate collapse open into hamburger menu
*/

/* top line moves back to initial position and rotates back to 0 degrees */
.navbar-toggler span:nth-child(1) {
  transform: translate(0%, 0%) rotate(0deg);
}
/* middle line goes back to regular color and opacity */
.navbar-toggler span:nth-child(2) {
  opacity: 1;
}
/* bottom line goes back to initial position and rotates back to 0 degrees */
.navbar-toggler span:nth-child(3) {
  transform: translate(0%, 0%) rotate(0deg);
}

/* End Header */

/* intro section  */
.intro {
  width: min-content;
  margin: 10% auto;
}
@media (max-width: 900px) {
  .intro {
    width: min-content;
    margin: 0 auto;
  }
}

.intro img {
  box-shadow: 0.25em 0.25em 0.75em rgb(0 0 0 / 25%);
  float: left;
  margin-right: 10px;
  max-width: 250px;
  margin-left: 3%;
}

@media (max-width: 900px) {
  .intro img {
    float: none;
    max-width: 450px;
  }
}

.intro-subtitle {
  background-color: #627267;
  line-height: 3;
  width: 685px;
  text-align: right;
  padding-right: 5px;
}
@media (max-width: 900px) {
  .intro-subtitle {
    width: 450px;
  }
}
